html{
    background-color: rgb(55, 55, 55);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    
}
h1{ 
    text-decoration: underline;
    text-align: center;
    color: rgb(184, 182, 180);
    text-shadow: 5px;
    
    
}
div{
    background-color: rgb(74, 43, 17);
    height: 20%;
    align-items: center;
}
