html{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgreen;
    text-shadow: 2px whitesmoke;
    color:whitesmoke;
}
div{
    background-color: black;
    height: 80%;
    border-radius: 5px;
    border: 5px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cdcbcb;
    border-radius: 5px;
}